header {
	margin: 49px 0px;
}

img {
	float:center;
}
@media (max-width:800px){
	header {
	width: 500px;
    height: 350px;
	margin: 30px auto;
	}
}
@media (min-width:500px){
	header {
		display: block;
		margin: auto;
		width: 50%;
	}	
}

@media (max-width:1500px){
	header {
		margin: 49px 100px;
		width: 500px;
		height: 350px;
		margin: 48px auto;
	}
}

body {
	background: #181818;
	margin-top: 56px;
}

h1 {
	color: #000000;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
	/*margin-top: -50px;*/
	margin-bottom: 90px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
	padding-left: 70px
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row--centered {
	justify-content: center;
}
@media (max-width:500px) {
	.row--centered {
		display: initial;
		width: 100%;
		text-align: center;
		margin-left: 0;
	}
	.row--centered img {
		width: 100%;
	}
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

p,ul {
	color:#eee8cd;
}
h2 {
	color:#ffb90f;
}

footer {
	background: #ffb90f;
	text-align: right;
}