/* .responsive is class connected to image for page responsive setting*/
.responsive {
  			 width: 100%;
         max-width: 800px;
  			 height: auto;
	     	}

/*.column is class containing image */
.column1 {
		  margin:auto;
		  width: 35%;
		  margin-top: 7%;
          border-style: solid;
          border-width: 1   px;
         }

/*animation code for contenthead element */
@keyframes textcolor {
    				  from {color:#ac813d;}
    				  to {color:gold;text-shadow: 2px 2px 4px #000000;}
				     }

/* The element to apply the animation */
.contenthead {
	           text-align: center;
	           margin: auto;
             max-width: 100%;
             background-color: #ac813d;
             animation-name: textcolor;
             animation-delay: 1s;
             animation-duration: 4s;
             animation-fill-mode: both;
             }

/* page background color */
body {
	   background: #ac813d;
     max-width: 100%;
     padding-top: 7%;

     }

/* summary section style edits*/
.Summary{
        margin-top: 10%;
        background-color: #bf9b30; 
        text-align: center;
        border: 2px solid gold;
        border-radius: 10px;
        margin-right: 20%;
        margin-left: 20%;
        color:black;
        }

/* Tools section style edit*/
h5 {
    text-align: center;
    color: #ae0001;
   }

.Tlist{
      -webkit-column-count: 2;
       -moz-column-count: 2;
        column-count: 2;
        margin: center;
        margin-left: 10%;
        color:black;
      }

.Tools{
        margin-top: 10%;
        background-color: #bf9b30;
         border: 2px solid gold;
        border-radius: 50px;
        margin-right: 5%;
        margin-left: 5%;
        color:black;
      }

/*Project section style edits*/
.Projects{
          margin-top: 10%;
          background-color: #bf9b30;
          border: 2px solid gold;
          border-radius: 10px;
          margin-right: 20%;
          margin-left: 20%;
          color:black;
         }

/*Experience section style edits*/
.Experience{
            margin-top: 10%;
            background-color: #bf9b30;
            border: 2px solid gold;
            border-radius: 10px;
            color: black;
            margin-right: 5%;
            margin-left: 5%;
           }

/*Education section style edits*/
.Education {
            margin-top: 10%;
            background-color: #bf9b30;
            border: 2px solid gold;
            border-radius: 10px;
            color: black;
            margin-right: 5%;
            margin-left: 5%;
            text-align: center;
           }

.footer {
         float: right;
         color: black;
        }
