

@media (max-width:800px){
	header {
	width: 500px;
    height: 350px;
	margin: 30px auto;
	}
}
@media (min-width:500px){
	header {
		display: block;
		margin: auto;
		width: 50%;
	}	
}

@media (max-width:1500px){
	header {
		margin: 49px 100px;
		width: 500px;
		height: 350px;
		margin: 48px auto;
	}
}


body {
	background: #6f4f1d;
}

h1 {
	color: #000000;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
	margin-top: -50px;
	margin-bottom: 150px;
}

/* Create three equal columns that floats next to each other */

 
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}
 



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media, (max-width: 600px) {
    .column{
        width: 100%;
    }
}

b {
	color: #f7f7f7;
}
p,ul {
	color:#eee8cd;
	margin-right: 20%;
	text-align: center;
	padding-left: 20%;
}
h2 {
	color:#ffb90f;
	text-align: center;
	padding-bottom: 3%;
}

.SKl_intro {
   display: block;
   text-align: center;
   padding-bottom: 10%;
}



.Contact-title h2 
{
	font-size: 40px;
}

form 
{
    margin-top: 5px;
    transition: all 4s ease-in-out;
}

.form-control
{
 width: 500px;
 background: white;
 border: none;
 border-bottom: 1px solid gray;
 left: 32%;
 position: relative;
}

form .submit {
	background: grey;
	border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover
{
	background-color: #f44336;
	cursor: pointer;
}


footer {
	padding-top: 2%;
	color: #ffb90f;
	text-align: right;
}